<section id="#contact" class="w-full">
  <h1 class="text-3xl font-bold">List Contact</h1>

  <%# error message if input is invalid %> <% if (typeof errors != 'undefined') { errors.forEach(error => { %>
  <div class="alert alert-warning shadow-lg w-fit mt-2 p-2 my-3">
    <div class="flex justify-start items-start">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-grow-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
      <div class="flex flex-col">
        <span><%= error.msg %></span>
      </div>
    </div>
  </div>
  <% })} %>

  <label for="tambah-data" class="btn btn-outline btn-success modal-button btn-sm my-3">Tambah Data</label>
  <!-- Modal Box for Add Contact form-->
  <input type="checkbox" id="tambah-data" class="modal-toggle" />
  <div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Data Kontak Baru</h3>
      <form action="" class="mt-4" method="post">
        <div class="flex flex-col gap-2">
          <div class="form-control">
            <label class="input-group input-group-sm">
              <span>Nama</span>
              <input type="text" placeholder="info@site.com" class="input input-bordered" name="nama" required />
            </label>
          </div>
          <div class="form-control">
            <label class="input-group input-group-sm">
              <span>Nomor HP</span>
              <input type="text" placeholder="info@site.com" class="input input-bordered" name="nohp" required />
            </label>
          </div>
          <div class="form-control">
            <label class="input-group input-group-sm">
              <span>Email</span>
              <input type="email" placeholder="info@site.com" class="input input-bordered" name="email" />
            </label>
          </div>
        </div>
        <div class="w-fit ml-auto mt-3">
          <input type="submit" value="Tambah" class="uppercase btn btn-sm" />
        </div>
        <div class="modal-action absolute top-0 right-0 mt-0 pt-6 pr-6">
          <label for="tambah-data" class="btn btn-square btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
          </label>
        </div>
      </form>
    </div>
  </div>

  <!-- Table -->
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Nama</th>
          <th>Nomor Handphone</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% if (contacts.length > 0) { %> <% let id = 1 %> <% contacts.forEach(contact => { %>
        <tr>
          <th><%= id %></th>
          <td><%= contact.nama %></td>
          <td><%= contact.nohp %></td>
          <td>
            <a href="/contact/<%= contact['_id'] %>" class="btn modal-button btn-sm">info</a>
          </td>
        </tr>
        <% id++ }) %> <% } else { %>
        <tr>
          <td colspan="4" class="text-center text-xl font-semibold">Tidak ada data yang dapat ditampilkan</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
